<html>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

            <title>Welcome!</title>

            <style>
                legend.scheduler-border {
                    font-size: 1.2em !important;
                    font-weight: bold !important;
                    text-align: left !important;
                    width:auto;
                    padding:0 10px;
                    border-bottom:none;
                }

                fieldset.scheduler-border {
                    border: 1px groove #ddd !important;
                    padding: 0 1.4em 1.4em 1.4em !important;
                    margin: 0 0 1.5em 0 !important;
                    -webkit-box-shadow:  0px 0px 0px 0px #000;
                    box-shadow:  0px 0px 0px 0px #000;
                }

                .form-group{
                    margin-bottom: 0rem;
                }

                .btn{
                    background-color: #21B4B1;
                    outline-color: none;
                    color: white;
                }
            </style>
        </head>
        <body>
            <div class="container">
                    <h1>Welcome! </h1>
                <div class = "row">
                    <div class ="col-sm-6">

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border"> <h3>Register</h3> </legend>

                        <form action="/users/create" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <div class="form-group">
                                <label for="user[first_name]">First Name:</label> <input class="form-control form-control-sm" type="text" name="user[first_name]" id="firstname"> <br>
                            </div>
                            <div class="form-group">
                                <label for="user[last_name]">Last Name:</label> <input class="form-control form-control-sm" type="text" name="user[last_name]" id="lastname"> <br>
                            </div>
                            <div class="form-group">
                                <label for="user[email]">Email:</label> <input class="form-control form-control-sm" type="text" name="user[email]" id="email"> <br>
                            </div>
                            <div class="form-group">
                                <label for="user[city]">City:</label> <input class="form-control form-control-sm" type="text" name="user[city]" id="city"><br>
                            </div>
                            <div class="form-group">
                                <label for="user[state]">State:</label> <input class="form-control form-control-sm" type="text" name="user[state]" id="state"><br>
                            </div>
                            <div class="form-group">
                                <label for="user[password]">Password:</label> <input class="form-control form-control-sm" type="password" name="user[password]" id="password"> <br>
                            </div>
                            <input class="btn" type="submit" value="Register">
                        </form>



                    </fieldset>
                    </div>

                    <div class ="col-sm-6">
                        <fieldset class="scheduler-border">
                            <legend  class="scheduler-border"
                            ><h3>Login</h3></legend>
                            <form action="/users/login" method="post">

                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <div class="form-group">
                                    <label for="email">Email:</label> <input class="form-control form-control-sm" type="text" name="email" id="email" class="form"> <br>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label> <input class="form-control form-control-sm" type="password" name="password" id="password" class="form"> <br>
                                </div>
                                <input class='btn' type="submit" value="Login">
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>

            <div class="m-l">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
        </body>
    </html>
