<div class="allConcertsContainer">
    <table>
        <tr>
            <th>Band</th>
            <th>Date</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let c of concerts">
            <td *ngIf="c"><a href="javascript:void(0)" (click)="showConcert(c.id)">{{ c.band.name }}</a></td>
            <td *ngIf="c"><a href="javascript:void(0)" (click)="showConcert(c.id)">{{ c.date | date:"longDate" }}</a></td>
            <td *ngIf="c"><a href="javascript:void(0)" (click)="showConcert(c.id)">{{ c.city }}</a></td>
        </tr>
    </table>
    <div [ngClass]="{'concertDetails':openOrClose,'hidden':!openOrClose}" [ngStyle]="{'height.px': 0.87 * windowHeight }">
        <div class="concertDetailsHdr">
            <a href="javascript:void(0)" (click)="opener(false)">X</a>
        </div>
        <div *ngIf="details" [ngStyle]="{'height.px': 0.87 * windowHeight-30 }"class="concertDetailsCtnt">
            <h2 *ngIf="details">{{ details.band.name }}</h2><button type="button" [ngClass]="{'went':attended===true,'didnt':attended===false}" (click)="attend()">{{status}}</button>
            <h3 *ngIf="details" >{{ details.venue }}</h3>
            <h3 *ngIf="details">{{ details.city }}, {{ details.state }}</h3>
            <h3 *ngIf="details">{{ details.date | date: 'longDate' }}</h3>
            <br>
            <fieldset>
                <legend><h3>Setlist</h3></legend>
                <table *ngIf="details">
                    <tr>
                        <th>Song Title</th>
                    </tr>
                    <tr *ngFor="let s of details.songlist">
                        <td>{{ s.name }}</td>
                    </tr>
                </table>
            </fieldset>
            <div class="concertMap">

            </div>
        </div>
    </div>
</div>
