.bandList, .bandSearch{
    display: inline-block;
    width: 30%;
    padding: 1%;
    text-align: left;
    margin-top: 0%;
    vertical-align: top;
}

.bandList{
    margin-left: 18%;
}

.bandList table, .bandList tr{
    width: 100%;
    font-size: 1.2rem;
}

.bandList a{
    margin-left: 5%;
    margin-top: 1%;
}

fieldset{
    border: none;
}

legend{
    font-weight: bold;
    font-size: 1.2rem;
}

fieldset input{
    margin-left: 5%;
    margin-top: 1%;
}

fieldset input[type=text]{
    height: 1.2rem;
}

.bandSearch table, .bandSearch tr{
    width: 100%;
    font-size: 1.2rem;
}

.linkButton{
    margin-left: 5%;
    margin-top: 1%;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-size: 1.2rem;
    cursor: auto;
    color: #2C0BE8;
    font-family: arial,sans-serif;
}
