<div class="mainContainer">
    <div class="bandList">
        <table>
            <tr>
                <th>Bands Entered</th>
            </tr>
            <tr *ngFor="let b of bands">
                <a [routerLink]="['bands',b.id]">{{ b.name }}</a>
            </tr>
        </table>
    </div>
    <div class="bandSearch">
        <fieldset>
            <legend>Don't see a band? Search!</legend>
            <form (submit)=bandSearch() #bandForm="ngForm">
                <input type="text"
                name="bandname"
                [(ngModel)]="band.bandname"
                #bandname="ngModel"
                required
                minlength="1"><br>
                <input type="submit" id="bandSub" value="Search" [disabled]="!bandForm.form.valid">
            </form>
        </fieldset>
        <table [hidden]="!searchResults">
            <tr>
                <th>Results</th>
            </tr>
            <tr *ngFor='let r of searchResults'>
                <td><button type="button" class="linkButton" (click)="addBand(r)">{{ r.name }}</button></td>
            </tr>
        </table>
    </div>
</div>
