<style>
    ul{
        list-style: none;
    }
    .btn{
        background-color: #21B4B1;
        outline-color: none;
        color: white;
    }
    .list-group-item{
        border: none;
        font-size: 1.33rem;
        line-height: 1;
    }
</style>

<div class="container">
    <div class="row">
        <h1>Bands</h1>
    </div>
    <div class="row">
        <% if flash[:errors] %>
            <% flash[:errors].each do |f| %>
                <p> <%= f %> </p>
            <% end %>
        <% end %>
        <div class="col-8">
            <% if @bands %>
                <table>
                    <thead>
                        <td>Names:</td>
                    </thead>
                    <tbody>
                        <% @bands.each do |b| %>
                        <tr>
                           <td>
                               <a href="/bands/<%= b.id %>/"><%= b.name %></a>
                           </td>
                        </tr>
                        <% end %>
                   </tbody>
                </table>
            <% end %>
        </div>
        <div class="col-4">
            <h3>Find a band</h3>
            <input class="form-control form-control-sm" id="searchName" type="text" name="band" value="Enter a band name"><br>
            <button class="btn" id="bandsearch" type="button" name="button">Search</button>
            <div id="band_results">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
        $('#bandsearch').click(function(){
            var search_term = document.getElementById('searchName').value
            $.ajaxSetup({headers:{}})
            $.get('https://ws.audioscrobbler.com/2.0/?method=artist.search&artist=' +search_term+'&api_key=ba268e660cd43a240846b8eec02b92f9&limit=5&format=json',function(res){
                var artists = res["results"]["artistmatches"]["artist"]
                var html_str = '<h1>Search Results</h1>'
                for (x = 0; x < artists.length; x++){
                    var names = artists[x]["name"]
                    html_str += "<form action='/bands/new' method='post'><input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>"
                    html_str += "<input class='btn-link' name='band' type='submit' value='"+String(artists[x]["name"])+"'>"
                    html_str += '<br>'
                }
                $('#band_results').html(html_str)
            })
        })
    )
</script>
