<div class="col leftCol">
    <h2>{{ concerts.band.name }}</h2> <button type="button" (click)="attended()">Attended Concert</button><br>
    <h4>Venue: {{ concerts.venue }}</h4><br>
    <h4>City: {{ concerts.city }}</h4><br>
    <h4>State: {{ concerts.state }}</h4><br>
    <h4>Date: {{ concerts.date | date: 'fullDate'}}</h4><br>
    <br>
    <div class="setlist">
        <table>
            <tr>
                <th>Setlist</th>
            </tr>
            <tr *ngFor="let song of concerts.songs">
                <td>{{ song }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="col rightCol">
    &nbsp;
</div>
