<div class="header header-m">
    <div class="hdrInfo hdrInfo-m">
        <img src="../assets/images/noted_word3.png" alt="Noted Logo">
        <br>
        <button type="button" (click)="isOpen = !isOpen"><div class="menuIcon"></div><div class="menuIcon"></div><div class="menuIcon"></div></button>
    </div>
    <span class="hdrLinks hdrLinks-m" [ngClass]="{'hidden':isOpen==false}"> <a [routerLink]="['dashboard']" (click)="isOpen=false">Home</a> <a [routerLink]="['dashboard','bands']" (click)="isOpen=false">Bands</a> <a [routerLink]="['dashboard','concerts']" (click)="isOpen=false">Concerts</a> <a id="logout" (click)="logout()">Logout</a></span>
</div>

<div class="backgroundImg">
    <!-- <img src="../assets/images/background1.jpg" alt="Background of crowd at a concert"> -->
    <div class="mainContent">
        <router-outlet></router-outlet>
    </div>
</div>
