.bandContainer{
    width: 100%;
}

.bandList{
    display: inline-block;
    width: 100%;
    padding: 1%;
    text-align: left;
    margin-top: 0%;
    vertical-align: top;
}

.bandList{
    /*margin-left: 18%;*/
}

.bandList table, .bandList tr{
    width: 100%;
    font-size: 1.2rem;
}

.bandList a{
    margin-left: 5%;
    margin-top: 1%;
}

#wish{
    display: inline-block;
    vertical-align: top;
    margin-top: -0.2%;
    margin-left: 3%;
}
