<div class="col leftCol">
    <div class="pastShows">
        <h3>Past Shows Attended</h3>
        <table>
            <tr>
                <th>Show Details</th>
            </tr>
            <tr *ngFor="let show of shows">
                <td><a [routerLink]="['concerts',show.concert.id]">{{ show.concert.date }} {{ show.concert.band.name }} {{ show.concert.city }}</a></td>
            </tr>
        </table>
    </div>
    <fieldset>
        <legend><h2>Find Shows</h2></legend>
        <form #findShow="ngForm" (submit)="findShow()">
            <label for="date">Date:</label><br>
            <input type="date"
            name="date"
            required
            [(ngModel)]="show.date"
            #date="ngModel"><br>
            <span class="errors" [hidden]="date.valid || date.pristine">Date must be filled in</span><br>
            <label for="artist">Artist:</label><br>
            <input type="text"
            name="artist"
            required
            minlenght="1"
            [(ngModel)]="show.artist"
            #artist="ngModel"><br>
            <span class="errors" [hidden]="artist.valid || artist.pristine">Artist must be filled in</span><br>
            <label for="City">City:</label><br>
            <input type="text"
            name="city"
            [(ngModel)]="show.city"><br>
            <input type="submit" id="findBut" value="Find" [disabled]="!findShow.form.valid"><br>
        </form>
    </fieldset>
    <div id="wish">
        <h3>Band Wish List</h3>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tr *ngFor="let b of bands">
                <td><a [routerLink]="['bands',b.id]">{{ b.name }}</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="col rightCol">
    <router-outlet></router-outlet>
</div>
