* {
  color: white;
}

.col {
  display: inline-block;
  text-align: left;
  padding: 3%;
  padding-top: 0%;
}

.leftCol {
  width: 40%;
  padding-right: 0;
}

.leftCol fieldset {
  width: 70%;
  padding: 2%;
  display: inline-block;
}

.leftCol label {
  font-size: 1.3rem;
}

fieldset input {
  width: 90%;
  height: 1.5rem;
  margin: 1%;
  color: black;
}

.pastShows table {
  margin-top: 2%;
  width: 80%;
  font-size: 1.2rem;
}

.concertDetails {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 10px;
  display: inline-block;
  border: solid thin black;
  width: 45%;
  /*overflow-y: auto;*/
  background-color: white;
  box-shadow: 0px 6px 2px -7px gray;
}

.hidden {
  display: none;
}

.concertDetailsHdr {
  width: 100%;
  height: 30px;
  background-color: #71707a;
}

.concertDetailsHdr a {
  color: white;
  font-weight: bolder;
  float: right;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 5px;
}

.concertDetailsCtnt {
  overflow-y: auto;
  margin-top: 2%;
  margin-left: 2%;
  padding-bottom: 5%;
}

.concertDetailsCtnt h3 {
  margin-left: 3%;
}

.concertDetailsCtnt th {
  border-bottom: solid thin black;
}

.didnt {
  display: inline-block;
  float: right;
  margin-right: 6%;
  max-width: 111px;
  min-width: 90px;
  height: 2rem;
  border: none;
  border-radius: 4px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

.went {
  display: inline-block;
  float: right;
  margin-right: 6%;
  max-width: 111px;
  min-width: 90px;
  height: 2rem;
  border: thin solid #000000;
  border-radius: 4px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  background-color: white;
  color: #000000;
  font-size: 1rem;
  box-sizing: border-box;
}

.rightCol {
  width: 40%;
  padding-left: 0;
  vertical-align: top;
}

/*.rightCol input{
    margin: 1%;
    width: 90%;
    height: 1.5rem;
}*/

.rigthCol {
  margin-top: 10%;
}

#findBut {
  margin-top: 1%;
  max-width: 111px;
  min-width: 90px;
  height: 2rem;
  border: none;
  border-radius: 4px;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

#findBut:disabled {
  color: gray;
  opacity: 0.66;
}

@media only screen and (min-width: 481px) and (max-width: 959px) {
  * {
    overflow-y: auto;
  }

  .leftCol-m {
    display: block;
    width: 100%;
  }

  .leftCol-m fieldset {
    width: 90%;
  }

  .rightCol-m {
    display: block;
    padding-left: 3%;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  * {
    overflow-y: auto;
  }

  .leftCol-s {
    display: block;
    width: 100%;
  }

  .leftCol-s fieldset {
    width: 90%;
  }

  .leftCol-s label {
    color: black;
  }

  .rightCol-m {
    display: block;
    padding-left: 3%;
    width: 100%;
  }
}
