.col{
    display: inline-block;
    text-align: left;
    padding: 3%;
    padding-top: 0%;
}

.leftCol{
    width: 40%;
    padding-right: 0;
}

.leftCol fieldset{
    width: 70%;
    padding: 2%;
    display: inline-block;
}

.leftCol label{
    font-size: 1.3rem;
}

fieldset input{
    width: 90%;
    height: 1.5rem;
    margin: 1%;
}

.pastShows table, .rightCol table{
    margin-top: 2%;
}

.rightCol{
    width: 40%;
    padding-left: 0;
    vertical-align: top;
}

/*.rightCol input{
    margin: 1%;
    width: 90%;
    height: 1.5rem;
}*/

.rigthCol {
    margin-top: 10%;
}

#findBut{
    margin-top: 1%;
    max-width: 111px;
    min-width: 90px;
    height: 2rem;
    border: none;
    border-radius: 4px;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    background-color: #21B4B1;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}

#findBut:disabled{
    color: gray;
    opacity: 0.66;
}
