<div class="col leftCol leftCol-m leftCol-s">
    <div class="pastShows">
        <h3>Past Shows Attended</h3>
        <table>
            <tr>
                <th>Band</th>
                <th>Date</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let show of shows">
                <td *ngIf="show"><a href="javascript:void(0)" (click)="getShow(show.concert.id)">{{ show.concert.band.name }}</a></td>
                <td *ngIf="show"><a href="javascript:void(0)">{{ show.concert.date | date:'longDate' }}</a></td>
                <td *ngIf="show"><a href='javascript:void(0)'>{{ show.concert.city }}</a></td>
            </tr>
        </table>
    </div>
    <fieldset>
        <legend><h2>Find Shows</h2></legend>
        <!-- <form #findShow="ngForm"> -->
            <label for="date">Date:</label><br>
            <input type="date"
            name="date"
            required
            [(ngModel)]="show.date"
            #date="ngModel"><br>
            <span class="errors" [hidden]="date.valid || date.pristine">Date must be filled in</span><br>
            <label for="artist">Artist:</label><br>
            <input type="text"
            name="artist"
            required
            minlenght="1"
            [(ngModel)]="show.artist"
            #artist="ngModel"><br>
            <span class="errors" [hidden]="artist.valid || artist.pristine">Artist must be filled in</span><br>
            <label for="City">City:</label><br>
            <input type="text"
            name="city"
            [(ngModel)]="show.city"><br>
            <button type="button" id="findBut" (click)="findShow()">Find</button>
            <!-- <input type="submit" id="findBut" value="Find" [disabled]="!findShow.form.valid" (click)="findShow()"><br> -->
        <!-- </form> -->
    </fieldset>
    <div [ngClass]="{'concertDetails':openOrClose,'hidden':!openOrClose}" [ngStyle]="{'height.px': 0.87 * windowHeight }">
        <div class="concertDetailsHdr">
            <a href="javascript:void(0)" (click)="opener(false)">X</a>
        </div>
        <div *ngIf="foundShow" [ngStyle]="{'height.px': 0.87 * windowHeight}" class="concertDetailsCtnt">
            <h2 *ngIf="foundShow.band.name">{{ foundShow.band.name }}</h2><button type="button" id="attendBut" [ngClass]="{'went':attended===true,'didnt':attended===false}" (click)="addShow()">{{status}}</button>
            <h3 *ngIf="foundShow.venue" >{{ foundShow.venue }}</h3>
            <h3 *ngIf="foundShow.city">{{ foundShow.city }}, {{ foundShow.state }}</h3>
            <h3 *ngIf="foundShow.date">{{ foundShow.date | date: 'longDate' }}</h3>
            <br>
            <fieldset>
                <legend><h3>Setlist</h3></legend>
                <table *ngIf="foundShow.songlist">
                    <tr>
                        <th>Song Title</th>
                    </tr>
                    <tr *ngFor="let s of foundShow.songlist">
                        <td>{{ s.name }}</td>
                    </tr>
                </table>
            </fieldset>
            <div class="concertMap">

            </div>
        </div>
    </div>
</div>

<div class="col rightCol rightCol-m">
    <router-outlet></router-outlet>
</div>
